<!-- 无限轮播页面 -->
<div id="box">	
	<!-- 无限轮播图片 -->
	<div id="list" style="left: 0;font-size: 0">
		<img src="../../image/banner/banner1.jpg" class='img' id="img" alt="1" />
		<img src="../../image/banner/banner2.jpg" class='img' alt="2" />
		<img src="../../image/banner/banner3.jpg" class='img' alt="3" />
		<img src="../../image/banner/banner4.jpg" class='img' alt="4" />
		<img src="../../image/banner/banner5.jpg" class='img' alt="5" />
		
	</div>
	<!-- 5个圆点 -->
	<div class="button">
		<!-- 默认处于第一个圆点 -->
		<span id="dot" index="0" class="on"></span>
		<span id="dot" index='1'></span>
		<span id="dot" index='2'></span>
		<span id="dot" index='3'></span>
		<span id="dot" index='4'></span>
	</div>
	<!-- 前后按钮 -->
	<img src="../../image/banner/arrow.png" class="arrow" id="pre"> <!-- 向前按钮 -->
	<img src="../../image/banner/arrow.png" class="arrow" id="next"> <!-- 向后按钮 -->
</div>