<div class="nav">
	<div class="w">
		<div class="user-info">
			<!-- 没有登录的情况下的导航条 -->
			<span class="user not-login">
				<span class="link js-login" >登录</span>
				<span class="link js-register">注册</span>
			</span>
			<span class="user login">
				<span class="link js-login" >
					欢迎您,
					<span class="username"></span>
				</span>
				<span class="link js-logout">退出</span>
			</span>
		</div>
		<ul class="nav-list">
			<li class="nav-item">
				<a  class="link" href="./cart.html">
					<!-- 引用图标 -->
					<i class="fa fa-shopping-cart" ></i>
					购物车(<span class="cart-count">0</span>)
				</a>
			</li>
			<li class="nav-item">
				<a class="link" href="./order-list.html">我的订单</a>
			</li>
			<li class="nav-item">
				<a href="./user-center.html" class="link">我的LuckyShop</a>
			</li>
			<li class="nav-item">
				<a href="./about.html" class="link">关于LuckyShop</a>
			</li>
		</ul>
	</div>
</div>